## 1. Create a dictionary by extracting the keys from a given dictionary

Write a Python program to create a new dictionary by extracting the mentioned keys from the dictionary below. 
The dictionary contains several information about a person. Loop over the dictionary and keep only the information keys you need. Print the output in the end.

Adapted from : https://pynative.com/python-dictionary-exercise-with-solutions/#h-exercise-5-create-a-dictionary-by-extracting-the-keys-from-a-given-dictionary

**Example:**  
*Input:*  

<pre>

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

</pre>

*Output:*  
<pre>
{'name': 'Kelly', 'salary': 8000}
</pre>

## 2. Find all the employees that make a lot of money

Return all the employees and their names who make more or equal to *8000* euros.\
Be aware the value of the dictionary in this case is another dictionary.


**Example:**  
*Input:*  

<pre>

employees = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500},
    'emp4': {'name': 'Tom', 'salary': 15000},
    'emp5': {'name': 'Valentina', 'salary': 8000}
}

</pre>

*Output:*  
<pre>
Employee emp2, named Emma:, makes 8000 euros a month.
Employee emp4, named Tom:, makes 15000 euros a month.
Employee emp5, named Valentina:, makes 8000 euros a month.
</pre>